<h1 class="product-single title">{{ product.title }}</h1>
<!-- start_production_section_review_snippet_seciton -->

<div id="pwr-snippets">
  <div id="pr-reviewsnippet" style=""></div>
</div>
<!-- end_product_section_review_snippet_section -->

<!-- start_review_render_code_widget_section -->
<script src="https://ui.powerreviews.com/stable/4.1/ui.js" async></script>
<div id="pr-reviewdisplay" style=""></div>
<!-- end_review_render_code_widget_section -->

<!-- start_review_render_code_js_section -->

<script>
   window.pwr = window.pwr || function () {
     (pwr.q = pwr.q || []).push(arguments);
   };
   pwr("render", {
  api_key: "{{ section.settings.api_key }}",
  locale: "{{ section.settings.locale }}",
  merchant_group_id: "{{ section.settings.group_id }}",
  merchant_id: "{{ section.settings.merchant_id }}",
  page_id: "{{ product.id }}",
  review_wrapper_url: "https://<STORE>.myshopify.com/pages/write-a-review/?pr_page_id={{ product.id }}",
  product: {
  	name: "{{ product.title | replace: "+", " " }}",
  	url: "https://<STORE>.myshopify.com{{ product.url }}",
  	image_url: "https:{{ product.featured_image | product_img_url: "large" }}",
  	description: "{{ product.description | strip_html | strip_newlines | replace: "%0A", "%20" | replace: '"', '%27' | escape }}",
  	category_name: {% if product.type != '' %}"{{ product.type }}"{% else %} "Default" {% endif %},
  	upc: "{{ product.barcode }}",
  	brand_name: "{{ product.vendor }}",
  	price: "{{ product.price | money_without_currency }}",
  	in_stock: "{{ product.available }}",
                variants: [ {% for variant in product.variants %}
                {% assign product_name = product.title %}
                {% if product.variants.size > 1 %}{% assign product_name = variant.title %}{% endif %}
  	{
  	   name: "{{ product_name | replace: "+", " " }}",
  	   description: "{{ product_name | escape }}",
  	   page_id_variant: "{{variant.id}}",
  	   upc: "{{ variant.barcode }}"
  	}{% if forloop.last == false %}, {% endif %} {% endfor %}
  ]},
        components: {
    ReviewDisplay: "pr-reviewdisplay"
        }
   });
</script>
<!-- end_review_render_code_js_section -->

{% schema %}
{
  "name": "PWR PDP",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "api_key",
      "label": "API Key"
    },
    {
      "type": "text",
      "id": "locale",
      "label": "Locale"
    },
    {
      "type": "text",
      "id": "group_id",
      "label": "Group ID"
    },
    {
      "type": "text",
      "id": "merchant_id",
      "label": "Merchant ID"
    }
  ]
}
{% endschema %}
